@keyframes slide-left-about {
  from { transform: translateX(100%) }
  to   { transform: translateX(0%) }
}

@keyframes slide-right-about {
  from { transform: translateX(-100%) }
  to   { transform: translateX(0%) }
}

#about {
  display: flex;
  padding: 20px 40px 40px;
}

.about-info {
  width: 40%;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
}

.about-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 20px;
  animation: slide-left-about 0.4s;
}

#banner {
  padding: 0 20px;
  margin-bottom: 50px;
}

.banner-title {
  color: #353535;
  font-size: 50px;
}

.banner-subtitle {
  color: #757575;
  font-size: 30px;
  font-weight: lighter
}

.about-story-wrapper {
  margin: 20px 0;
  padding: 0 20px;
  border-left: 3px solid #BDBDBD;
  overflow: hidden;
}

.about-story {
  margin: 0 0 20px;
  animation: slide-right-about 0.5s;
}

.about-links {
  display: flex;
  align-items: center;
}

.link {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.link:hover {
  transform: scale(1.1);
}

.resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  margin: 0 20px;
  color: #1178B3;
  background-color: #FFF;
  border: 1px solid #1178B3;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s;
}

.resume-btn:hover {
  transform: scale(1.1);
}