.arrow-wrapper {
  display: flex;
  align-items: center;
  width: 55px;
  height: 55px;
  justify-content: center;
  border: none;
  transition: all 0.2s;
}

.arrow-wrapper:focus {
  outline: none;
}

.arrow {
  width: 40px;
  height: 40px;
}
